@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: rgb(255, 204, 0);

  height: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffb803;
  opacity: 0.5;
  width: 10px;
  height: 26px;
  cursor: pointer;
}

input {
  outline: none;
}
